<a href="https://colab.research.google.com/github/1zulkifel/AI_Q3_NLP/blob/master/Data_Analysis_With_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
s=pd.Series([1,2,3,np.nan,99,2,2,1])
s

0     1.0
1     2.0
2     3.0
3     NaN
4    99.0
5     2.0
6     2.0
7     1.0
dtype: float64

In [3]:
date=pd.date_range('20210101',periods=6)
date

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df=pd.DataFrame(np.random.randn(6,6),index=date,columns=list('ABCDEF'))
df

                   A         B         C         D         E         F
2021-01-01 -1.394862 -0.203455 -0.067576 -1.361469 -0.086566  0.307834
2021-01-02  0.813185  0.247363 -0.172537  0.133123  1.385868  0.413067
2021-01-03 -0.246111 -1.208188 -0.250233 -0.092113 -0.160159 -0.270599
2021-01-04  0.080445 -0.685209  0.299088 -0.120105 -0.298270  0.781121
2021-01-05  0.756456  0.927098  0.129968 -1.248993  0.681106  0.997191
2021-01-06  2.645404  0.518915 -0.521208  0.585820 -0.178104 -1.242355

In [5]:
df2=pd.DataFrame({'A':1.,'B':pd.Timestamp('20210202'),
                 'C':pd.Series(1,index=list(range(6)),dtype='float32'),
                               'D':np.array([3] * 6, dtype='int32'),
                               'E':pd.Categorical(['test','train','test','train','test','train']),
                               'F':'foo'})
df2

     A          B    C  D      E    F
0  1.0 2021-02-02  1.0  3   test  foo
1  1.0 2021-02-02  1.0  3  train  foo
2  1.0 2021-02-02  1.0  3   test  foo
3  1.0 2021-02-02  1.0  3  train  foo
4  1.0 2021-02-02  1.0  3   test  foo
5  1.0 2021-02-02  1.0  3  train  foo

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [7]:
df2.all

<bound method DataFrame.all of      A          B    C  D      E    F
0  1.0 2021-02-02  1.0  3   test  foo
1  1.0 2021-02-02  1.0  3  train  foo
2  1.0 2021-02-02  1.0  3   test  foo
3  1.0 2021-02-02  1.0  3  train  foo
4  1.0 2021-02-02  1.0  3   test  foo
5  1.0 2021-02-02  1.0  3  train  foo>

In [8]:
df2.head()

     A          B    C  D      E    F
0  1.0 2021-02-02  1.0  3   test  foo
1  1.0 2021-02-02  1.0  3  train  foo
2  1.0 2021-02-02  1.0  3   test  foo
3  1.0 2021-02-02  1.0  3  train  foo
4  1.0 2021-02-02  1.0  3   test  foo

In [9]:
df2.tail(2)

     A          B    C  D      E    F
4  1.0 2021-02-02  1.0  3   test  foo
5  1.0 2021-02-02  1.0  3  train  foo

In [10]:
df2.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [11]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [12]:
df2.describe()

         A    C    D
count  6.0  6.0  6.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [13]:
df2.T

                     0  ...                    5
A                    1  ...                    1
B  2021-02-02 00:00:00  ...  2021-02-02 00:00:00
C                    1  ...                    1
D                    3  ...                    3
E                 test  ...                train
F                  foo  ...                  foo

[6 rows x 6 columns]

In [14]:
df.sort_values(by='B')

                   A         B         C         D         E         F
2021-01-03 -0.246111 -1.208188 -0.250233 -0.092113 -0.160159 -0.270599
2021-01-04  0.080445 -0.685209  0.299088 -0.120105 -0.298270  0.781121
2021-01-01 -1.394862 -0.203455 -0.067576 -1.361469 -0.086566  0.307834
2021-01-02  0.813185  0.247363 -0.172537  0.133123  1.385868  0.413067
2021-01-06  2.645404  0.518915 -0.521208  0.585820 -0.178104 -1.242355
2021-01-05  0.756456  0.927098  0.129968 -1.248993  0.681106  0.997191

In [15]:
df2['C']

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
Name: C, dtype: float32

In [16]:
df2[0:-4]

     A          B    C  D      E    F
0  1.0 2021-02-02  1.0  3   test  foo
1  1.0 2021-02-02  1.0  3  train  foo

In [17]:
df['20210101':'20210104']

                   A         B         C         D         E         F
2021-01-01 -1.394862 -0.203455 -0.067576 -1.361469 -0.086566  0.307834
2021-01-02  0.813185  0.247363 -0.172537  0.133123  1.385868  0.413067
2021-01-03 -0.246111 -1.208188 -0.250233 -0.092113 -0.160159 -0.270599
2021-01-04  0.080445 -0.685209  0.299088 -0.120105 -0.298270  0.781121

In [18]:
df.loc[date[1]]

A    0.813185
B    0.247363
C   -0.172537
D    0.133123
E    1.385868
F    0.413067
Name: 2021-01-02 00:00:00, dtype: float64

In [19]:
df.loc[:,['A','C']]

                   A         C
2021-01-01 -1.394862 -0.067576
2021-01-02  0.813185 -0.172537
2021-01-03 -0.246111 -0.250233
2021-01-04  0.080445  0.299088
2021-01-05  0.756456  0.129968
2021-01-06  2.645404 -0.521208

In [20]:
df.loc['20210103':'20210105',['C','D']]

                   C         D
2021-01-03 -0.250233 -0.092113
2021-01-04  0.299088 -0.120105
2021-01-05  0.129968 -1.248993

In [21]:
df.loc[date[3]]

A    0.080445
B   -0.685209
C    0.299088
D   -0.120105
E   -0.298270
F    0.781121
Name: 2021-01-04 00:00:00, dtype: float64

In [22]:
df[df.A>0]

                   A         B         C         D         E         F
2021-01-02  0.813185  0.247363 -0.172537  0.133123  1.385868  0.413067
2021-01-04  0.080445 -0.685209  0.299088 -0.120105 -0.298270  0.781121
2021-01-05  0.756456  0.927098  0.129968 -1.248993  0.681106  0.997191
2021-01-06  2.645404  0.518915 -0.521208  0.585820 -0.178104 -1.242355

In [23]:
df[df.B<0.01]

                   A         B         C         D         E         F
2021-01-01 -1.394862 -0.203455 -0.067576 -1.361469 -0.086566  0.307834
2021-01-03 -0.246111 -1.208188 -0.250233 -0.092113 -0.160159 -0.270599
2021-01-04  0.080445 -0.685209  0.299088 -0.120105 -0.298270  0.781121

In [24]:
df2['G']=['a','b','c','d','f','g']
df2

     A          B    C  D      E    F  G
0  1.0 2021-02-02  1.0  3   test  foo  a
1  1.0 2021-02-02  1.0  3  train  foo  b
2  1.0 2021-02-02  1.0  3   test  foo  c
3  1.0 2021-02-02  1.0  3  train  foo  d
4  1.0 2021-02-02  1.0  3   test  foo  f
5  1.0 2021-02-02  1.0  3  train  foo  g

In [25]:
df2[df2['G'].isin(['c','f'])]

     A          B    C  D     E    F  G
2  1.0 2021-02-02  1.0  3  test  foo  c
4  1.0 2021-02-02  1.0  3  test  foo  f

In [26]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [27]:
df['H']=s1
df

                   A         B         C         D         E         F   H
2021-01-01 -1.394862 -0.203455 -0.067576 -1.361469 -0.086566  0.307834 NaN
2021-01-02  0.813185  0.247363 -0.172537  0.133123  1.385868  0.413067 NaN
2021-01-03 -0.246111 -1.208188 -0.250233 -0.092113 -0.160159 -0.270599 NaN
2021-01-04  0.080445 -0.685209  0.299088 -0.120105 -0.298270  0.781121 NaN
2021-01-05  0.756456  0.927098  0.129968 -1.248993  0.681106  0.997191 NaN
2021-01-06  2.645404  0.518915 -0.521208  0.585820 -0.178104 -1.242355 NaN

In [28]:
df.loc[:,'E']=np.array([5]*len(df))
df

                   A         B         C         D  E         F   H
2021-01-01 -1.394862 -0.203455 -0.067576 -1.361469  5  0.307834 NaN
2021-01-02  0.813185  0.247363 -0.172537  0.133123  5  0.413067 NaN
2021-01-03 -0.246111 -1.208188 -0.250233 -0.092113  5 -0.270599 NaN
2021-01-04  0.080445 -0.685209  0.299088 -0.120105  5  0.781121 NaN
2021-01-05  0.756456  0.927098  0.129968 -1.248993  5  0.997191 NaN
2021-01-06  2.645404  0.518915 -0.521208  0.585820  5 -1.242355 NaN

In [29]:
df2=df.copy()
df2[df2>2]=-df2
df

                   A         B         C         D  E         F   H
2021-01-01 -1.394862 -0.203455 -0.067576 -1.361469  5  0.307834 NaN
2021-01-02  0.813185  0.247363 -0.172537  0.133123  5  0.413067 NaN
2021-01-03 -0.246111 -1.208188 -0.250233 -0.092113  5 -0.270599 NaN
2021-01-04  0.080445 -0.685209  0.299088 -0.120105  5  0.781121 NaN
2021-01-05  0.756456  0.927098  0.129968 -1.248993  5  0.997191 NaN
2021-01-06  2.645404  0.518915 -0.521208  0.585820  5 -1.242355 NaN

In [30]:
df2['H']=len(df)
df2

                   A         B         C         D  E         F  H
2021-01-01 -1.394862 -0.203455 -0.067576 -1.361469 -5  0.307834  6
2021-01-02  0.813185  0.247363 -0.172537  0.133123 -5  0.413067  6
2021-01-03 -0.246111 -1.208188 -0.250233 -0.092113 -5 -0.270599  6
2021-01-04  0.080445 -0.685209  0.299088 -0.120105 -5  0.781121  6
2021-01-05  0.756456  0.927098  0.129968 -1.248993 -5  0.997191  6
2021-01-06 -2.645404  0.518915 -0.521208  0.585820 -5 -1.242355  6

In [32]:
df1=df.reindex(index=date[0:4],columns=list(df.columns)+['K'])
df1.loc[date[0]:date[1],'K']=1
df1

                   A         B         C         D  E         F   H    K
2021-01-01 -1.394862 -0.203455 -0.067576 -1.361469  5  0.307834 NaN  1.0
2021-01-02  0.813185  0.247363 -0.172537  0.133123  5  0.413067 NaN  1.0
2021-01-03 -0.246111 -1.208188 -0.250233 -0.092113  5 -0.270599 NaN  NaN
2021-01-04  0.080445 -0.685209  0.299088 -0.120105  5  0.781121 NaN  NaN

In [33]:
df1.dropna(how='any')

Empty DataFrame
Columns: [A, B, C, D, E, F, H, K]
Index: []

In [34]:
df1.fillna(value=0.99)

                   A         B         C         D  E         F     H     K
2021-01-01 -1.394862 -0.203455 -0.067576 -1.361469  5  0.307834  0.99  1.00
2021-01-02  0.813185  0.247363 -0.172537  0.133123  5  0.413067  0.99  1.00
2021-01-03 -0.246111 -1.208188 -0.250233 -0.092113  5 -0.270599  0.99  0.99
2021-01-04  0.080445 -0.685209  0.299088 -0.120105  5  0.781121  0.99  0.99

In [35]:
pd.isna(df1)

                A      B      C      D      E      F     H      K
2021-01-01  False  False  False  False  False  False  True  False
2021-01-02  False  False  False  False  False  False  True  False
2021-01-03  False  False  False  False  False  False  True   True
2021-01-04  False  False  False  False  False  False  True   True

In [36]:
df1.mean()

A   -0.186836
B   -0.462372
C   -0.047815
D   -0.360141
E    5.000000
F    0.307856
H         NaN
K    1.000000
dtype: float64